@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primaryColor: black;
    --secondaryColor: #FAF9F6;
    --thirdColor: #5686DB;
}

body {
    font-family: "Lexend", sans-serif;
    scroll-behavior: smooth;
}

/* INDEX.HTML */

#video-BG {
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    object-fit: cover;
}

#video-container {
    position: fixed;
    width: 100%;
    height: 100%;
    right: 0;
    bottom: 0;
    z-index: -1;
}

#center {
    font-size: 3rem;
    color: var(--secondaryColor);
    margin: auto;
    margin-top: 8rem;
    display: flex; 
    justify-content: center;
    flex-direction: column;
    /* border: 1px solid red; */
    position: fixed;
}

#logo {
    width: 5rem;
    height: 5rem;
    border-radius: 10rem;
}

.lettering {
    margin: 1.5rem;
}

.getStartedButton {
    display: block;
    width: 20rem;
    font-size: 2rem;
    color: var(--secondaryColor);
    border: 0.2rem solid var(--secondaryColor);
    border-radius: 1rem;
    background: none;
    padding: 0.5rem;
    margin-left: 0.4rem;
    text-decoration: none;
}

#nutriCompare {
    margin-top: 1rem;
    text-decoration: none;
}

.getStartedButton:hover {
    scale: 1.05;
}

.getStartedButton:visited {
    text-decoration: none;
}

#logo-title {
    font-size: 2rem;
    display: flex; 
    /* border: 1px solid red; */
    margin: 0%;
    margin-bottom: -5rem;
}

#logo-title h2 {
    margin: auto;
    margin-left: 0.5rem;
}

#calcLink {
    margin-top: -4.5rem;
}

/* CALC.HTML */

#form-container {
    border: 1px solid white;
    border-radius: 1rem;
    width: 75%;
    height: 50%;
    color: var(--secondaryColor);
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center; 
    margin-top: 10%;
    padding-bottom: 1rem;
}

/* #form-contsiner h2 {

} */

.input-block {
    padding: 0.3rem;
}

.userInput {
    border: 0.15rem solid var(--secondaryColor);
    padding: 0.15rem;
    border-radius: 1rem;
    background: none;
    color: white;
    width: 5rem;
    text-align: center;
}

#bulkOrCut {
    border: 0.15rem solid var(--secondaryColor);
    padding: 0.15rem;
    border-radius: 1rem;
    background-color: transparent;
    color: white;
    width: 15rem;
    text-align: center;   
    appearance: none;
}

/* need to make dropdown menu transparent */
.dropdown {
    background-color: rgba(0,0,0,0.2);
    color: black;
    appearance: none;
}

#submitForm {
    background: none;
    color: white;
    border: 1px solid white;
    padding: 0.5rem;
    border-radius: 0.5rem;
    margin-top: 0.5rem;
}

#submitForm:hover {
    scale: 1.05;
}

/* #stepOne {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
} */

/* PORTAL.HTML */

#portal {
    display: flex;
    flex-direction: column;
    align-items: center; 
    margin-top: 50%;
}

#goBack {
    display: block;
    width: 20rem;
    font-size: 2rem;
    color: var(--secondaryColor);
    border: 0.2rem solid var(--secondaryColor);
    border-radius: 1rem;
    background: none;
    padding: 0.5rem;
    margin-left: 0.4rem;
    text-decoration: none;
}